<!DOCTYPE html>
<html>
<head>
<style>
div {
  margin: 70px;
  border: 1px solid #4CAF50;
}
p {
    color: rgb(25, 0, 255);
    font-size: 20px;
    font-family: Arial;
  }
</style>
</head>
<body>

<div>This element has a margin of 70px.</div>

</body>
</html>